db.sqlite3
ayumi_manager/
mysite/__pycache__
mysite/__init__.py
mysite/settings.py
mysite/wsgi.py
polls/
static
heibon-django.log
manage.py
boards/__pycache__
boards/migrations
boards/__init__.py
templates/admin
templates/registration
accounts/migrations
accounts/__init__.py
accounts/__pycache__
blogs/
