db.sqlite3
ayumi_manager/
mysite/__pycache__
mysite/__init__.py
mysite/wsgi.py
polls/
heibon-django.log
manage.py
boards/__pycache__
boards/migrations
boards/__init__.py
templates/admin
templates/registration
templates/base_ayumi.html
accounts/migrations
accounts/__init__.py
accounts/__pycache__
blogs/
htmlcov/
.coverage
